#case-studies {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 80px;
  min-height: 100vh;
  padding: 60px 140px;
}
.case-studies-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case-studies-intro h1 {
  color: black;
}
.case-studies-intro h1::after {
  content: "";
  display: block;
  margin: 10px auto 0;
  background-color: black;
  height: 3px;
  width: 60px;
  border-radius: 3px;
}
.case-studies-intro p {
  text-align: center;
  max-width: 700px;
  margin: 15px auto;
  line-height: 25px;
}
.case-studies-project {
  display: flex;
  gap: 50px;
  align-items: center;
}
.case-studies-project.reverse {
  flex-direction: row-reverse;
}
.projects-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.projects-details h1 {
  color: black;
}
.projects-details p {
  color: #444;
  line-height: 25px;
}
.project-details-button {
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  transition: opacity 0.2s;
}
.project-details-button:hover {
  opacity: 0.85;
}
.project-details-button.orange {
  background-color: rgb(255, 162, 23);
}
.project-details-button.green {
  background-color: rgb(10, 231, 95);
}
.project-details-button.black {
  background-color: rgb(0, 0, 0);
}
.project-photo {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
  overflow: hidden;
}
.project-imag {
  width: 100%;
  transition: transform 0.3s;
}
.project-imag:hover {
  transform: scale(1.04);
}
.project-tag {
  padding: 5px 12px;
  width: fit-content;
  border-radius: 13px;
  font-size: 12px;
  font-weight: 600;
}
.project-tag.orange {
  background-color: rgb(255, 246, 233);
  color: rgb(255, 162, 23);
}
.project-tag.green {
  background-color: rgb(224, 245, 227);
  color: rgb(10, 231, 95);
}
.project-tag.black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
