main {
  /* background-color: azure; */
}
/* Home section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  margin: 0px 140px;
  /* background-color: aqua; */
}
.portfolio-img-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.portfolio-intro h1 {
  color: white;
}
.portfolio-intro p {
  line-height: 25px;
  color: #9c9c9c;
  font-size: 14px;
}
.ali-photo {
  width: 300px;
  aspect-ratio: 1 / 1; /* Forces height to match width */
  object-fit: cover; /* Prevents stretching by cropping the edges */
  border-radius: 150px;
}

.portfolio-worked-with {
  display: flex;
  flex-direction: column;
}
.portfolio-worked-with p {
  color: white;
  margin: 0;
  padding: 0;
}
.portfolio-worked-with ul {
  list-style: none;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
  padding: 0;
}
.portfolio-worked-with ul li {
  background-color: #000000;
  color: white;
  border: 1px solid #1d1c1c;
  padding: 10px 50px;
  border-radius: 5px;
}
.portfolio-worked-with-logo {
  height: 40px;
  filter: brightness(0) invert(1) brightness(0.32);
}
